﻿
div.b {
    border: 1px solid red;
    margin: 2px 10px 2px 10px;
    padding: 6px;
}

div.b {
    border: 1px solid blue;
    margin: 2px 10px 2px 10px;
    padding: 6px;
}

.g {
    margin:5px; 
    color:green;
}

.s {
    width: 12em;
    display: inline-block
}

.h {
    
    padding: 5px;
    color:blue;
    font-weight:bold;
    border: 1px solid black;
}